# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# Build output
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Sequelize migrations
*.sqlite
*.sqlite3
*.bak

# IDEs
.vscode/
.idea/

# TypeScript
*.tsbuildinfo

# Coverage reports
coverage/

# Local database data or JSON test files
src/data/*.json
